@font-face {
    font-family: RedHatMono;
    font-display: swap;
    src: url("../fonts/RedHatMono-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/RedHatMono-Italic-VariableFont_wght.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: noto;
    font-display: swap;
    src: url("../fonts/noto-sans-display-condensed-extrabold-italic.woff2") format("woff2"), url("../fonts/noto-sans-display-condensed-extrabold-italic.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}